<!DOCTYPE>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Verify your login</title>
</head>

<body style="
      font-family: Helvetica, Arial, sans-serif;
      margin: 0px;
      padding: 0px;
      background-color: #ffffff;
    ">
  <table role="presentation" style="
        width: 100%;
        border-collapse: collapse;
        border: 0px;
        border-spacing: 0px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(239, 239, 239);
      ">
    <tbody>
      <tr>
        <td align="center" style="padding: 1rem 2rem; vertical-align: top; width: 100%">
          <table role="presentation" style="
                max-width: 600px;
                border-collapse: collapse;
                border: 0px;
                border-spacing: 0px;
                text-align: left;
                background-color: #ffffff;
              ">
            <tbody>
              <tr>
                <td style="padding: 0; border: 1px solid #e1e1e1">


                  <div style="padding: 1.5rem 2rem;">
                    <img src="<%= '../assets/' %>logo.png" alt="App Logo" style="width: 56px" />
                  </div>