<div style="padding: 0 2rem 2rem">
  <div style="color: rgb(0, 0, 0); text-align: left">
    <h1 style="margin: 1rem 0">Webhook Created</h1>
    <p style="padding-bottom: 16px">
      You have created a new webhook event for your link.app account
    </p>
    <p style="padding-bottom: 16px">
      <a href="/" target="_blank" style="background-color: #fff; border-radius: 40px; padding: 0.5rem 1.5rem; ">View Webhooks</a>
    </p>
    <p style="padding-bottom: 16px">
      If you didn’t create this webhook, you can delete this webhook from your account.
    </p>

  </div>
</div>